ul{
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

button{
    border: none;
    background: transparent;
}


.currency-box{
    display: flex;
}

.currency-box-position{
    position: fixed;
    top: 3.5em;
}

.currency-text{
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    align-items: center;
    display: flex;

}
