nav{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 100px;
    width:190vh;
}

a:hover{
    opacity: 0.3;
}
.category-element{
    font-size: "1.5em";
    padding-right : "2em";
}
.nav-photo-element{
    max-width: 2.5em;
}

button:hover{
    background: whitesmoke;
    opacity: 0.3;
}

.shopping-cart-container{
    display: flex;
}


.currency-and-checkout{
    display: flex;
    align-items: center;
}