nav{
    display: flex;
    justify-content: space-between;
    padding-right: 6em;
}
a:hover{
    opacity: 0.3;
}
.category-element{
    font-size: "1.5em";
    padding-left : "2em";
}
.nav-photo-element{
    max-width: 2.5em;
}

button:hover{
    background: whitesmoke;
    opacity: 0.3;
}


.currency-and-checkout{
    display: flex;
}